.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
.spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@font-face{
    font-family: montserat-regular;
    src: url("../../../assets/fonts/montserrat/Montserrat-Regular.otf")
}
.favmov{
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    .fav{
        .imgdiv{
            height: 400px;;

            img{
                opacity: 1;
                display: block;
                width: 100%;
                transition: .5s ease;
            }
        }
        .zoom{
            position: relative;
            transition: transform .5s ease-in-out;
            
            .imgText{
                transition: .5s ease;
                opacity: 1;
                color: white;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                text-align: center;
                background-color: rgba(0, 0, 0, 0.4);

                .imgText-actions{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span{
                        cursor: pointer;
                        margin: 1.5rem 0;
                        font-family: 'montserat-regular', sans-serif;

                        .viewmovie{
                            color: white;
                            padding: .375rem .75rem;
                            background-color: olivedrab;
                            border: none;
                        }
                        .hasFav{
                            color: white;
                            background-color: red;
                        }
                    }
                }
              }
            &:hover{
                transform: scale(1.1);
                z-index: 99;
                img{
                //    opacity: 0.2;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                }
                .imgText{
                    // opacity: 1;
                    display: block;
                }
            }

           
        }
       
    }
}

@media screen and (max-width: 449px){
    .favmov{
        padding: 10px;
    }
    .fav{
        width: 100%;
        // height: 400px;;
        margin: 1.5vw 0;
    }
}
@media screen and (min-width: 450px){
    .favmov{
        padding: 10px;
    }
    .fav{
        width: calc(100% / 2);
        // height: 400px;;
        margin: 2vw 0;
    }
}
@media screen and (max-width: 767px){
    .imgText{
        display: block;
        bottom: 0;
    }
}
@media screen and (min-width: 768px){
    .favmov{
        padding: 50px;
    }
    .fav{
        width: calc(100% / 3);
        // height: 400px;;
        margin: 3vw 0;
    }
    .imgText{
        display: none;
        top: 0;
    }
}
@media screen and (min-width: 1024px){
    .fav{
        width: calc(100% / 5);
        // height: 400px;;
        margin: 3vw 0;
    }
}