<div *ngFor="let movie of movieData">
        <!-- <div [style.background-image]="safeImg" class="bg-img">
              <h1 class="display-4">Hello, world!</h1>
         
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </p>
        </div> -->
       <div class="movieView">
            <div class="movieView-details">
                    {{movie.Actors}}
            </div>
            <!-- <div [style.background]="safeImg" class="bg-img"></div> -->
            <div class="movieView-img">
                    <img [src]="movie.Poster" alt=""> 
            </div>
       </div>
  </div>