<div id="logreg-forms">
    <form class="form-signup" [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
        <h1 class="h3 mb-3 font-weight-normal text-center"> Register</h1>
        <input type="email" id="user-email" class="form-control" placeholder="Email address" formControlName="email">
        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty)">
            <small *ngIf="email.errors.required" class="text-danger">Email is required</small>
            <small *ngIf="email.errors.email" class="text-danger">Please enter a valid email</small>
        </div>
        <input type="text" id="user-name" class="form-control mt-2" placeholder="choose a username"
            formControlName="username">
        <div class="form-control-feedback" *ngIf="username.errors && (username.dirty)">
            <small *ngIf="username.errors.required" class="text-danger">Please choose a username</small>
        </div>
        <input type="password" id="user-pass" (keyup)="clearpwdError($event)" class="form-control mt-2"
            placeholder="Password" formControlName="password">
            <div class="form-control-feedback" *ngIf="password.errors && (password.dirty)">
                    <small *ngIf="password.errors.required" class="text-danger">Please enter a password</small>
                </div>
        <input type="password" id="user-repeatpass" (keyup)="clearpwdError($event)" class="form-control mt-2"
            placeholder="Repeat Password" formControlName="confirmPassword">
        <small class="text-danger" *ngIf="diffpasswords">
            Passwords don't match
        </small>

        <!-- <div class="form-check mt-2">
                <input type="checkbox" formControlName="checked" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I agree to the <a href="#">Terms and
                        Conditions</a></label>
            </div> -->
        <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-user-plus"></i> Sign Up <span
                *ngIf="loading"><i class="fa fa-spin fa-spinner"></i></span> </button>

        <hr>
        <!-- Don't have an account! -->
        <div class="text-center">
            <span>
                Already have an account? <a [routerLink]="['/auth/login']">Login here</a>
            </span>
        </div>
    </form>


</div>