<nav class="navbar navbar-dark navbar-expand-lg bg-black fixed-top">
   <span class="navbar-brand homenav">
      <a href="/home">
      <img src="../assets/img/netflix.png" alt="" width="30px" height="30px">
    <span>
        filmHUB
    </span>
  </a>
   </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Favorites</a>
        </li>
      </ul>
      <a role="button" [routerLink]="['/auth/login']" routerLinkActive="router-link-active"  *ngIf="!isLoggedIn" class="btn btn-primary">
        Login
      </a>
     <div *ngIf="isLoggedIn">
       <span class="loggeduser navbar-text">  Welcome {{loggedInUser.displayName | titlecase}}&nbsp;</span>
      <button class="btn btn-secondary" (click)="logOut()">
          Logout
        </button>
     </div>
    </div>
  </nav>
<div class="has-nav-fixed">
    <router-outlet></router-outlet>
</div>