<nav class="navbar navbar-dark navbar-expand-lg bg-black fixed-top">
   <span class="navbar-brand homenav">
      <a [routerLink]="['/home']" routerLinkActive="" >
      <img src="../assets/img/netflix.png" alt="" width="30px" height="30px">
    <span>
        filmHUB
    </span>
  </a>
   </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favorites']" routerLinkActive="active">Favorites</a>
        </li>
      </ul>
      <a role="button" [routerLink]="['/auth/login']" *ngIf="!isLoggedIn" class="btn btn-primary">
        Login
      </a>
     <div *ngIf="isLoggedIn" class="rightside">
        <form class="form-inline my-2 my-lg-0" [formGroup]="searchForm" (submit)="searchForMovie(searchForm.value)">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="movie">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
       <span class="loggeduser navbar-text">  Hello {{loggedInUser.displayName | titlecase}}&nbsp;</span>
      <button class="btn btn-logout" (click)="logOut()">
          Logout
        </button>
     </div>
    </div>
  </nav>
<div class="has-nav-fixed">
    <router-outlet></router-outlet>
</div>