<div id="logreg-forms">
    <form class="form-reset" [formGroup]="resetForm">
        <p class="text-center h3 mb-2 font-weight-normal"> Reset Password </p>
        <input type="email" id="resetEmail" class="form-control" placeholder="Email address" formControlName="email">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
        <hr>
        <div class="text-center">
            <span>
                Already have an account? <a [routerLink]="['/auth/login']">Login here</a>
            </span>
        </div>
    </form>
    <br>
</div>