<div id="logreg-forms">
    <div class="reset-instructions" *ngIf="passwordsent;else show">
        <p>
            Password reset instructions sent please check your email
        </p>
    </div>
    <ng-template #show>
            <form class="form-reset" [formGroup]="resetForm" (submit)="resetPassword(resetForm.value)">
                    <p class="text-center h3 mb-2 font-weight-normal"> Reset Password </p>
                    <input type="email" id="resetEmail" class="form-control" placeholder="Email address" formControlName="email">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="resetForm.invalid">Reset Password
                       <span *ngIf="loading"><i class="fa fa-spin fa-spinner"></i></span>
                    </button>
                    <hr>
                    <div class="text-center">
                            <span>
                                Remember password? <a [routerLink]="['/auth/login']">Go back and Login</a>
                            </span>
                        </div>
                </form>
    </ng-template>
    <br>
</div>