/* You can add global styles to this file, and also import other style files */

ngx-slick-carousel {
    .slick-slider {
        width: 90%;
        margin: auto;
        background: #000;
    }
       
    .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 50% !important;
    }
    
    .prev-slide.slick-disabled,
    .next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
    }
       
    .prev-slide {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('assets/back.png');
        left: -33px;
    }
    
    
    .prev-slide:hover {
    // background-position: 0px -53px;
    }
    
    .next-slide:hover {
    // background-position: -24px -53px;
    }
    
    .nav-btn {
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 50% !important;
    }
    
    .next-slide {
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('assets/next.png');
        right: -33px;
    }
    
    
}

