/* You can add global styles to this file, and also import other style files */
body{
  background: #000 !important;
}

.slick-slider {
    width: calc(100% - 50px - 50px);
    margin: auto;
    // background: #000;
}
.slide{
  background: url(./assets/noimg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.f-50{
  font-size: 50px !important;
}
.nav-btn {
  position: absolute;
  cursor: pointer;
  top: 100px
}
   
.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}
  
.prev-slide {
  transition: transform .2s;
  left: -33px;
  color: #e5e5e5;

  &:hover{
    transform: scale(1.5)
  }
}
  
.next-slide {
  transition: transform .2s;
  right: -33px;
  color: #e5e5e5;

  &:hover{
    transform: scale(1.5)
  }
}